.buttonsContainer {
    button {
        border: none;
        background-color: white;
        color: var(--red);
        margin-left: 0.5rem;
    }
}

.cardContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 850px;
    margin-bottom: 0.8rem;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    border: 0.1rem solid var(--gray-200);
    box-sizing: border-box;
}

.cardDoneContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 850px;
    margin-bottom: 0.8rem;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    border: 0.1rem solid var(--gray-200);
    box-sizing: border-box;
    text-decoration: line-through;
    color: red
}